<footer class="w-full bg-custom-500 text-white text-sm px-12 py-6">
    <div class="container">
        <div class="footer-content">
            <div>
                <img
                    src="/logo.png"
                    alt="Table of Three - Private Chef Belfast"
                    class="h-16 w-auto"
                />
            </div>
            <div class="footer-text">
                <p>&copy;2025 Table of Three. All rights reserved.</p>
                <p>
                    Private chef services in Belfast. Crafting exceptional culinary experiences, one event at a
                    time.
                </p>
            </div>
        </div>
    </div>
</footer>
